# Sample configuration file for wkd-to-hkp.
# Copy this to /etc/wkd-to-hkp.conf and edit to taste.

# Directory where we keep our lockfiles and history
#SPOOLDIR=/var/spool/wkd-to-hkp

# Location under which WKD stores keys. This can contain wildcards.
#WKD_SEARCH_PATH=/var/lib/gnupg/wks/*/hu

# List of HKP servers to submit to
#HKP_SERVERS=( keyserver.ubuntu.com pgpkeys.eu keys.openpgp.org )
